<div class="container">
    <!-- <input type="text" [(ngModel)]="filter">          -->
    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>Url</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let listResults of list">
          <td>{{listResults.author}}</td>
          <td>{{listResults.title}}</td>
          <td>{{listResults.url}}</td>
          <td><button class="btn btn-info" data-toggle="modal" data-target="#myModalWindow" 
            (click)="modalWindow(listResults)">Click</button></td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="myModalWindow" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
            <span>{{modalWindowResp|json}}</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
  </div>

  
  
    <!-- The Modal -->
    
